Repository alabatie/moments-dnns: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, bandit, pylint

black:
  name: black
  stages:
  - commit
  - push
  language: system
  entry: black --check

isort:
  name: isort
  stages:
  - commit
  - push
  language: system
  entry: isort
  args:
  - --check

flake8:
  name: flake8
  stages:
  - commit
  - push
  language: system
  entry: flake8 moments_dnns

bandit:
  name: bandit
  stages:
  - commit
  - push
  language: system
  entry: bandit -r moments_dnns

pylint:
  name: pylint
  stages:
  - commit
  - push
  language: system
  entry: poetry run pylint
  args:
  - --rcfile
  - .pylintrc

chore: simplify test runner
  .github/workflows/main.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

test: add dummy test
  tests/test_dummy.py
Due: black, isort, flake8

chore: add changelog and makefile
  CHANGELOG.md
  Makefile
Due: none

fix: fix issues in plot annotations
  moments_dnns/plot_utils.py
  moments_dnns/plots.py
  moments_dnns/run_experiment.py
Due: black, isort, flake8, bandit, pylint

test: add model tests
  .gitignore
  .vscode/settings.json
  moments_dnns/computation_layers.py
  moments_dnns/propagation_layers.py
  tests/__init__.py
  tests/test_dummy.py
  tests/test_models.py
Due: black, isort, flake8, bandit, pylint

docs: update comments and docstrings relating to npy files
  README.md
  moments_dnns/manage_experiments.py
  moments_dnns/run_experiment.py
  notebooks/Complements on fully-connected networks.ipynb
  notebooks/Complements on width, boundary conditions, dataset, epsilon.ipynb
  notebooks/Reproducing Fig. 2, 3, 4, 5.ipynb
  tests/test_models.py
Due: black, isort, flake8, bandit, pylint

chore: add utils functions for deleting experiments and plots
  moments_dnns/__init__.py
  moments_dnns/manage_experiments.py
  moments_dnns/plot_utils.py
Due: black, isort, flake8, bandit, pylint

test: add tests to run experiments
  tests/test_run_experiment.py
Due: black, isort, flake8

test: add tests to prune experiments
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/data/moments_bn_ff_raw.npz
  tests/data/moments_bn_res_raw.npz
  tests/data/moments_vanilla_raw.npz
  tests/test_prune_experiments.py
Due: black, isort, flake8

test: add tests to plots
  tests/test_plots.py
Due: black, isort, flake8

chore: apply isort
  moments_dnns/__init__.py
  tests/test_models.py
  tests/test_plots.py
  tests/test_prune_experiments.py
  tests/test_run_experiment.py
Due: black, isort, flake8, bandit, pylint

test: use CIFAR-10 for tests to run experiments
  tests/test_run_experiment.py
Due: black, isort, flake8

revert: revert modification in notebook on fully-connected networks
  notebooks/Complements on fully-connected networks.ipynb
Due: none

docs: update comments in notebooks
  notebooks/Complements on fully-connected networks.ipynb
  notebooks/Complements on width, boundary conditions, dataset, epsilon.ipynb
  notebooks/Reproducing Fig. 2, 3, 4, 5.ipynb
Due: none

refactor: minor refactors and docstrings rework
  moments_dnns/computation_layers.py
  moments_dnns/main_utils.py
  moments_dnns/manage_experiments.py
  moments_dnns/models.py
  moments_dnns/plot_utils.py
  moments_dnns/plots.py
  moments_dnns/propagation_layers.py
  moments_dnns/run_experiment.py
Due: black, isort, flake8, bandit, pylint

fix: fix wrong reverting of notebook on fully-connected networks
  notebooks/Complements on fully-connected networks.ipynb
Due: none

chore: bump to v1.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: switch to list aggregation
  moments_dnns/computation_layers.py
  moments_dnns/manage_experiments.py
  moments_dnns/run_experiment.py
Due: black, isort, flake8, bandit, pylint

chore: update tensorflow version
  moments_dnns/models.py
  moments_dnns/propagation_layers.py
  moments_dnns/run_experiment.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, bandit, pylint

chore: update default branch to main
  Makefile
  README.md
Due: none

test: fix tests
  moments_dnns/manage_experiments.py
  tests/test_models.py
Due: black, isort, flake8, bandit, pylint

ci: update github workflow
  .github/workflows/main.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

ci: fix workflow
  .github/workflows/main.yml
Due: none

chore: comply to precommti
  moments_dnns/manage_experiments.py
  moments_dnns/run_experiment.py
Due: black, isort, flake8, bandit, pylint

chore: bump to v2.0.0
  .github/workflows/main.yml
  CHANGELOG.md
  Makefile
  pyproject.toml
Due: none

chore: comply to precommit
  moments_dnns/manage_experiments.py
  moments_dnns/run_experiment.py
Due: black, isort, flake8, bandit, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$, but not: tests
  pylint: any of: \.py$, but not: tests
